@import "tailwindcss";

@theme {
    --color-aether-sky: #336699;
    --color-aether-dark: #2f3634;
    --color-aether-green: #5d8e3e;
    --color-aether-text: #ffffff;

    --font-sans: "Geist", "Arial", sans-serif;
}

body {
    background: var(--color-aether-sky);
    color: var(--color-aether-text);
    font-family: var(--font-sans), serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

@utility container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
