@import "tailwindcss";

@font-face {
    font-family: "Phantom Sans";
    src: url("https://assets.hackclub.com/fonts/PhantomSans-Regular.woff2")
    format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Phantom Sans";
    src: url("https://assets.hackclub.com/fonts/PhantomSans-Bold.woff2")
    format("woff2");
    font-weight: 700;
}

@theme {
    --color-aether-sky: #1062a3;
    --color-aether-dark: #2e3f36;
    --color-aether-green: #499300;
    --color-aether-footer: #2284c6;

    --font-display: "Phantom Sans", system-ui, sans-serif;
    --font-body: "Inter", system-ui, sans-serif;
    --font-sans: "Inter", system-ui, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: var(--color-aether-sky);
    font-family: var(--font-body);
}
